/* 
Philippine Translator Scripts Stylesheet

01 Variables
02 Fonts
03 Desktop Styles
04 Mobile Styles 
*/
/* 01 Variables */
:root {
  --border-radius: 10px;
  --gray-light: #f5f5f5;
  --gray-medium: #ebebeb;
  --box-shadow-darker: 0px 5px 5px rgba(0, 0, 0, 0.12); 

--disabled-text:	#CCCCCC;
--gray-text: #6A6A6A;
--gray:	#CDD8DB;
--text-main: #27282D;
--dark-green: #3CA123;
--light-green:	#74C460;
--brown:	#42210B;
--yellow: #FFB82F;

  --box-shadow: 0px 4px 5px rgba(210, 210, 210, 0.25);
  --font-size-desktop: 2em;
  --font-size-mobile: 1.5em;
  --font-size-buttons-mobile: 1.25em;
}

/* ************************************************************************************************** */
/* 02 Fonts */

@font-face {
  font-family: Baybayin;
  src: url(.././assets/fonts/Baybayin/TintangBaybayin.otf);
}

@font-face {
  font-family: BaybayinNamin;
  src: url(.././assets/fonts/Baybayin/BaybayinNamin.otf);
}

/* ************************************************************************************************** */

/* 03 Desktop Styles */

/* Text Styles */
h1,
h2,
h3,
h4,
h5,
h6,
label,
a {
  /* font-family: 'Inter', sans-serif; */

  font-family: "Lexend Deca", sans-serif;
  /* font-family: Ubuntu Regular; */
  color: var(--main-color);
  margin: 0;
  font-weight: 600;
}
h4 {
  color: #4a4a4a;
}

.disabled {
  color: var(--gray-medium);
}

p {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 600;
  color: var(--plain-text-color);
}

span {
  font-family: "Lexend Deca", sans-serif;
}

/* Container Styles */
body {
  margin: 0px;
}

.translator-main-switch,
.header {
  display: flex;
  height: 10vh;
  align-items: center;
  margin-bottom: 10vh;
  /* justify-content: ; */
}
.header {
  justify-content: center;
  padding: 0 20px;
  box-shadow: var(--box-shadow);
}

/* TODO: A proper footer */
.footer {
  justify-content: center;
  padding: 40px 80px;
  /* box-shadow: var(--box-shadow); */
}

#center {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: column;
}

.translator-main-blocks {
  width: 90vw;
  display: flex;
  border: solid 1px var(--gray);
border-radius: 15px;

}

.translator-main-blocks div {
  flex: 50%;
  flex-wrap: wrap;
  padding: 20px;
}

.flex-jcc {
  display: flex;
  justify-content: center;
}

/* .border-bottom {
  border-bottom: solid;
  border-color: var(--gray-light);
} */

.border-right {
  border-right: solid;
  border-color: var(--gray-light);
}

textarea,
button {
  border: none;
  outline: none;
}

button {
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #ffffff00;
}

textarea {
  margin-top: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 30vh;
  resize: none;
  font-size: 2em;
  color: var(--text-main);
  font-size: var(--font-size-desktop);
  line-height: 1.5em;
 font-family: 'Lexend Deca', sans-serif;;
}

.translator-main-blocks-translated {
  background-color: var(--gray-light);
  border-radius: 0 15px 15px 0;
}
.translator-main-blocks-translated > * {
  background-color: var(--gray-light);
}



.translator-main-blocks button {
  /* font-size: var(--font-size-mobile); */
  font-family: "Lexend Deca", sans-serif;
  font-weight: 600;  
  color: var(--brown);
  background-color: var(--gray-medium);
}

#copyButton {
  background-color: var(--light-green);
  color: white;
}
button:hover {
  background-color: var(--light-green);
}
#translatedTextArea {
  /* font-family: Baybayin; */
}

/* CSS of Share Functionality */
#share-btn{
  background-color: var(--light-green);
  color: #ffffff;
  cursor: pointer;
}

#down-btn, #open-preview{
  background-color: var(--light-green);
  color: #ffffff;
  cursor: pointer;
}

#preview {
  padding: 1em;
  width: 532px;
  height: 532px;
  max-width: 70vmax;
  max-height: 70vmax;
  border: none;
  text-align: justify;
}

#preview::backdrop {
  background: rgba(0, 0, 0, 0.25);
}

#download-preview {
  width: 6em;
  height: 1.5em;
  padding: 0;
  right: 0;
  font-weight: bolder;
  font-size: 1em;
  margin-top: 485px;
  margin-right: 215px;
  position: absolute;
  background-color: var(--light-green);
  color: #ffffff;
  cursor: pointer;
}


#close-preview {
  width: 2em;
  height: 2em;
  padding: 0;
  right: 0;
  font-weight: bolder;
  font-size: 1em;
  margin-right: 16px;
  position: absolute;
  cursor: pointer;
}

#canvas {
  position: absolute;
}

/* Canvas CSS */
#preview-hidden{
  display: none;
}


.baybayin {
  font-family: Baybayin;
}

.baybayinnamin {
  font-family: BaybayinNamin;
}

/* Toast */

#toast {
  visibility: hidden;
  /*Hidden by default. Visible on click */
  min-width: 20vw; /* Set a default minimum width */
  margin-right: -10vw; /* Divide value of min-width by 2 */
  background-color: var(--accent-color); /* Black background color */
  text-align: center;

  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  right: 50%; /* Center the toast */
  bottom: 50px; /* 30px from the bottom */
}
#toast p {
  margin: 15px;
}

#toast.show {
  visibility: visible;
  animation: fadein 0.3s, fadeout 0.3s 2s;
}

/* Dropdown Styles */

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown {
  border: solid;
  border-radius: 20px;
  border-color: var(--gray-medium);
}

.dropdown-contents {
  margin-top: 10px;
  display: none;
  position: absolute;
  background-color: white;
  text-align: center;
  min-width: 220px;

  right: -8px;

  box-shadow: var(--box-shadow-darker);
  border-radius: 20px;
}

.dropdown-contents a {
  display: block;
  padding: 15px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 20px;
}

.selected {
  background-color: var(--gray-medium);
}

.show {
  display: block;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.caret-icon {
  margin: 0px 5px;
  display: inline-block;
}

#languageSelector {
  display: inline-block;
}

#languageSelected {
  display: inline-block;
}
/* ************************************************************************************************** */

/* 04 Mobile Styles */

@media screen and (max-width: 728px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .select-css {
    font-size: 1em;
  }
  /* .header {
    height: 10vh;
    order: 1;
  }

  .translator-main {
    order:2;
  }

  .switch  {
order: 3;
  } */
  .header {
    /* height: 10vh; */
    height: 70px;
    margin-bottom: 0;
  }

  .header h3 {
    margin: 10px;
  }

  #languageSwitch,
  .translator-main-switch {
    height: 70px;
  }
  /* .translator-main-switch-content {
    margin: 10px;
    width: 80vw;
  } */
  textarea {
    font-size: var(--font-size-mobile);
    /* height  : 80%; */
    /* padding: 10px; */
  }

  .translator-main-blocks {
    flex-wrap: wrap;
    width: 100%;
    flex-basis: 100%;
    border-radius: 0;
  }
  .translator-main-blocks-translated,
  .translator-main-blocks-raw {
    flex: 0 0 40vh;
    color: #42210B;
  }
  .translator-main-blocks > * {
    border: none;
  }
  .translator-main-blocks-translated {
    background-color: var(--gray-light);
    border-radius: 0;
  }
  .translator-main-blocks button {
    font-size: var(--font-size-buttons-mobile);
    font-family: "Lexend Deca", sans-serif;
    font-weight: 600;
    color: var(--main-color);
  }
  .translator-main-blocks-translated > *,
  .translator-main-blocks-translated button {
    background-color: var(--main-color);
    color: var(--brown);
  }
  .translator-main-blocks-translated button {
    background-color: var(--light-green);
  }
  button {
    background-color: var(--gray-medium);
    
  }

  #toast {
    /*Hidden by default. Visible on click */
    min-width: 100vw; /* Set a default minimum width */
    margin-right: -50vw; /* Divide value of min-width by 2 */
    right: 50%; /* Center the toast */
    bottom: 0; /* 30px from the bottom */
  }
  #toast p {
    margin: 10px;
  }
}
.orangefix-logo{
  height: 0.85em;
  padding-bottom: 0px;
}
.kuyabai-logo{
  height: 4em;
  padding-bottom: 0px;
  margin-left: 100px;
}


span.footer-text {
  font-size: 1em;
  color: #6A6A6A
}

*, *::after, *::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.filter-brown{
  filter: invert(12%) sepia(15%) saturate(5058%) hue-rotate(356deg) brightness(93%) contrast(93%);
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  text-align: center; 
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  color:#42210B;
}

.modal-header .close-button {
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
  background: lightgreen;
  font-size: 1.25rem;
  font-weight: bold; 
  margin-left: 90px;
}

.modal-body {
  font-family: "Lexend Deca", sans-serif;
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(228, 224, 224, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}


.share {
  position: absolute;
  text-align: center;  



  appearance: auto;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  margin: 0em;
}

#share_amongus{
  padding: 0 4px;
}


.share .btn {
  border-radius: 5px;
  background-color: #74C460;
  padding: 9px 20px;
  display: inline-block;
  transition: all 0.4s linear;
}
/* .share .btn:hover {
  transform: rotate(1deg);
} */
.share .btn:hover i {
  color: #3498db;
}
.share .btn i {
  cursor: pointer;
  color: #ffffff;
}
.share .social.open ul li {
  padding: 10px;
  opacity: 1;
}
.share .social ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.share .social ul li {
  border-radius: 100%;
  background-color: #ccc;
  padding: 5px;
  cursor: pointer;
  opacity: 0;
  margin: 5px 0;
  transition: all 0.4s ease-in-out;
}
.share .social ul li:hover {
  -webkit-box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.5);
}
.share .social ul li i {
  color: #555;
}