
.vscode/settings.json
dev.html
~index.html
~~index.html
desktop.ini
.vscode/desktop.ini
assets/desktop.ini
assets/favicon/desktop.ini
assets/fonts/desktop.ini
assets/fonts/Baybayin/desktop.ini
assets/images/desktop.ini
assets/images/icons/desktop.ini
baybayin/~index.html
backup-root/
backup-root/index.html 
backup-root/~index.html
backup-root/dev.html
