
.vscode/settings.json
baybayin/~index.html
~~index.html
desktop.ini
.vscode/desktop.ini
assets/desktop.ini
assets/favicon/desktop.ini
assets/fonts/desktop.ini
assets/fonts/Baybayin/desktop.ini
assets/images/desktop.ini
assets/images/icons/desktop.ini
